name: Docker Dev Container
# https://www.docker.com/blog/first-docker-github-action-is-here
# https://github.com/docker/build-push-action
# see: https://help.github.com/en/actions/reference/events-that-trigger-workflows
on: # Trigger the workflow on push or pull request, but only for the master branch
  push:
    branches:
      - master
      - main

jobs:
  build-docker:
    runs-on: ubuntu-latest


    strategy:
      fail-fast: false
      matrix:
        python_version: [3.7, 3.8, 3.9]

    steps:

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ github.repository }}
          tags: |
            type=raw,value=dev-${{ matrix.python_version }}

      - name: Build
        # publish master/release
        uses: docker/build-push-action@v2
        with:
          file: dockers/dev.Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          # arm64 has issues compiling SimpleITK from source
          # platforms: linux/amd64,linux/arm64
          platforms: linux/amd64
          build-args: |
            VARIANT=${{ matrix.python_version }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            maintainer=justusschock
            ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

        timeout-minutes: 50