name: Docker
# https://www.docker.com/blog/first-docker-github-action-is-here
# https://github.com/docker/build-push-action
# see: https://help.github.com/en/actions/reference/events-that-trigger-workflows
on: # Trigger the workflow on push or pull request, but only for the master branch
  push:
    branches: [main, master]
  pull_request:
    branches: [master, main]

jobs:
  build-docker:
    runs-on: ubuntu-20.04
      
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build PL Docker
        # publish master/release
        uses: docker/build-push-action@v2
        with:
          file: dockers/Dockerfile
          push: false
        timeout-minutes: 50