name: Docker
# https://www.docker.com/blog/first-docker-github-action-is-here
# https://github.com/docker/build-push-action
# see: https://help.github.com/en/actions/reference/events-that-trigger-workflows
on:
  push:
    branches:
      - 'master'
      - 'main'
  release:
    types: # This configuration does not affect the page_build event above
      - created
  pull_request:
    branches:
      - 'master'
      - 'main'


jobs:
  build-docker:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        accelerator: ['cpu', 'cuda']

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ github.repository }}
          tags: |
            type=pep440,pattern={{version}}-${{ matrix.accelerator }}
            type=raw,value=latest-${{ matrix.accelerator }}

      - name: Build
        # publish master/release
        uses: docker/build-push-action@v2
        with:
          file: dockers/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          # arm64 has issues compiling SimpleITK from source
          # platforms: linux/amd64,linux/arm64
          platforms: linux/amd64
          build-args: |
            HARDWARE=${{ matrix.accelerator }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            maintainer=justusschock
            ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

        timeout-minutes: 50
